<?xml version="1.0" encoding="utf-8"?>
<ruleset name="JsonWorks coding standard">
    <description>JsonWorks coding standard</description>

    <!-- display progress -->
    <arg value="p"/>
    <!-- use colors in output -->
    <arg name="colors"/>

    <!-- inherit rules from: -->
    <rule ref="PSR2"/>
    <!-- include
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    -->

    <!-- Paths to check -->
    <file>src</file>
    <file>tests</file>
</ruleset>